html {
    height: 100%;
    margin: 0;
}
body {
    background: url('/images/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

#app {
    height: 100%;
    display: flex;
    main {
        width: 100%;
        overflow: hidden;
    }
}

.wrapper {
    --box-shadow-color: 0px 0px 36px 0px rgba(0,0,0,0.5);
    --text-color: #d2d2d2;
}
.wrapper.day {
    --box-shadow-color: 0px 0px 36px 0px rgba(113, 132, 255, 0.5);
}

.text-digital {
    font-family: 'DS-Digital', sans-serif;
    > * {
        font-family: "Montserrat", sans-serif;
    }
}
.mt-auto {
    margin-top: auto;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
    color: var(--text-color);
    border-radius: 16px;
    box-shadow: var(--box-shadow-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    font-size: 14px;

    &.weather-cloudy {
        background-image: url('/images/background/weather-day-cloudy.jpg');
        &.night {
            background-image: url('/images/background/weather-night-cloudy.jpg');
        }
    }
    &.weather-rainy {
        background-image: url('/images/background/weather-day-rainy.jpg');
        &.night {
            background-image: url('/images/background/weather-night-rainy.jpg');
        }
    }
    &.weather-thunderstorm {
        background-image: url('/images/background/weather-thunderstorm.jpg');
    }
    &.weather-partially-cloudy {
        background-image: url('/images/background/weather-cloudy-partly.jpg');
        &.night {
            background-image: url('/images/background/weather-cloudy-partly-night.jpg');
        }
    }
    &.weather-clear {
        background-image: linear-gradient(162deg, rgb(28, 88, 134) 0%, rgba(58,174,243,1) 100%);

        &.night {
            background-image: url('/images/background/weather-night-starry.png');
        }
    }

    &:after {
        position: absolute;
        inset: 0;
        border: 1px rgba(#fff, 0.1) solid;
        pointer-events: none;
        content: "";
        border-radius: 16px;
    }

    aside {
        backdrop-filter: blur(5px);
        width: 4rem;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        flex-shrink: 0;
        height: auto;

        a {
            display: flex;
            aspect-ratio: 1;
            color: #fff;
            transition: all .3s;
            text-decoration: none;
            text-align: center;
            font-weight: 300;
            img, svg {
                margin: 0.3em auto;
                object-fit: contain;
                aspect-ratio: 1;
                width: 100%;
                max-width: 40px;
            }

            span {
                small {
                    display: block;
                    font-size: .5em;
                    text-transform: uppercase;
                }
                margin: auto;
            }

            &:hover {
                background: rgba(#fff, 0.3);
            }
        }        
    }

    main {
        padding: 1.5rem;
        flex-grow: 1;
        text-shadow: 1px 1px rgba(0,0,0,0.5);

        .row {
            width: 100%;
            display: grid;
            grid-auto-flow: column; 
            grid-auto-columns: 1fr 1fr 1fr; 
            gap: 1em 1em;

            &.wide-gap {
                gap: 1em 2em;
            }

            .col {
                &.circular {
                    aspect-ratio: 1;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 94%;
                        aspect-ratio: 1;
                        border: 1px solid rgb(195, 183, 115);
                        border-radius: 100%;
                        left: 3%;
                        top: 0;
                        z-index: 0;
                        pointer-events: none;
                    }
                }
                &:not(.circular):after {
                    content: "";
                    right: 0;
                    left: 0;
                    top: 1.25em;
                    z-index: 0;
                    height: 1px;
                    background: rgba(195,183,115);
                    position: absolute;
                }

                position: relative;
                overflow: hidden;

                h3 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #2d62b7;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 3px 5px;
                    font-size: .7em;
                    z-index: 1;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        max-width: calc(480px + 4rem);
        main {
            .row {
                grid-auto-flow: initial;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media screen and (max-width: 544px) {
        width: 100%;
        flex-direction: column;
        font-size: 12px;
        border-radius: 0;
        &::after {
            border-radius: 0;
        }
        aside {
            flex-direction: row;
            justify-content: space-between;
            padding: .5em;
            width: calc(100% - 1em);
            display: flex;
        }
        main {
            margin: 0;
            width: auto !important;
            .row {
                grid-auto-flow: initial;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    footer {
        text-align: center;
        padding-top: 2em;
        font-size: .75em;
    }
}